{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Todo</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
</head>
<body>
    <div class="main_container">
        <div class="container">
            <h2>Login</h2>
            <form method="post" class="login_form">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="login_button">Login</button>
            </form>
            <p class="signup_option">Not a registered user?
                <a href="{% url 'signup' %}">Sign up!</a>
            </p>
        </div>
    </div>
</body>
</html>